.meals {
  align-items: center;
  background: #ececec;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  justify-content: center;
  width: 100%;
}

.fixarRodape {
  bottom: 0;
  position: fixed;
  text-align: center;
  width: 90%;
}

.fixarBottun {
  bottom: 0;
  position: fixed;
  text-align: center;
  width: 50%;
}

.video-responsive {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.video-responsive iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
